<%- include ('includes/heady') %>
<%- include ('includes/navbar') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="display-1 text-center">Agenda</h1>
            <p class="text-center lead">Seus cotatos estão aqui.</p>
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">Error</div>
                </div>
            </div>
            <div class="responsive-table">
                <table class="table">
                    <tr>
                        <td>Luiz</td>
                        <td>Otavio</td>
                        <td>32557444</td>
                        <td>luizotavio@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Luiz</td>
                        <td>Otavio</td>
                        <td>32557444</td>
                        <td>luizotavio@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Luiz</td>
                        <td>Otavio</td>
                        <td>32557444</td>
                        <td>luizotavio@gmail.com</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include ('includes/footer') %>